[user]
	email = 9258379+brili@users.noreply.github.com
	name = Brilant Kasami
[pager]
    diff = false
		show = false
		branch= false
[alias]
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t"
[push]
	autoSetupRemote = true
	default = current
[diff]
  algorithm = histogram
